@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="d-flex flex-column align-items-center p-5 shadow rounded-5">
        <h1 class="text-">Success</h1>
        <p class="text-success">Your password have been successfully changed</p>
    </div>
</div>